[2017-09-24 05:15] maryx opened #3 "Set up non-static unit converter project"

[2017-09-24 05:16] maryx opened #4 "Set up REST/animations project"

[2017-09-24 05:16] maryx opened #5 "Set up todo list project"
Set up basic skeleton project for the Todo list.

[2017-09-24 05:18] maryx opened #6 "Add image grid view + better UI to Unit Converter"
Add grid view to unit converter:
- [x] tapping on an item in the grid takes you to a new page (which will include the dropdowns for conversion)
- [x] Each grid item has an associated image

[2017-09-24 05:20] maryx opened #7 "Add dropdowns and number input for unit converter"
Dropdowns:
- one for the "converting from" unit
- one for the "converting to" unit

The number input should allow the user to type in a number using the numerical keyboard.

[2017-09-24 05:21] maryx opened #8 "Add math logic to unit converter"
Make sure the conversions actually work correctly:
- conversions fit on the screen
- remove decimal points if the converted number is an integer
- round off/cut off conversions so we don't end up with a long string of decimals

[2017-09-24 05:22] maryx opened #9 "Add unit description section on bottom of screen"

[2017-09-24 05:22] maryx opened #10 "Add nice animation to the `Select Category`Bottom Sheet"

[2017-09-26 16:57] maryx opened #11 "Add responsive design to static unit converter"

[2017-10-06 22:54] #3 closed

[2017-10-06 22:54] #7 closed

[2017-10-09 20:19] maryx opened #15 "Add server that returns JSON with currency conversion units"

[2017-10-09 20:21] maryx opened #16 "Pull in data from Udacity server for currency unit"

[2017-10-09 20:21] maryx opened #17 "Add show/hide animations"
- Add show/hide animations using Offstage, AnimatedCrossFade, and AnimationController. Add details to the script too.

[2017-10-09 20:21] maryx opened #18 "Add motion animations to unit converter"

[2017-10-12 21:23] maryx opened #19 "Create UX for todo list"

[2017-10-12 21:24] maryx opened #20 "Save Todo list data locally"
We want to use local storage to save the todo list data first. This is for students who won't have access to the Cloud Firestore (due to firewalls).

[2017-10-12 21:25] maryx opened #21 "Save todo list to Cloud Firestore or Firebase"

[2017-10-12 21:25] maryx opened #22 "Add photo taking capability."
A Todo list item can have a photo attachment.

[2017-10-25 23:40] maryx opened #24 "Unit Converter: Enter a number hint text isn't centered"
<img width="312" alt="screen shot 2017-10-25 at 4 38 11 pm" src="https://user-images.githubusercontent.com/3357543/32028333-f6d04a3a-b9a2-11e7-92da-701ea1cb051f.png">

The hint text `Enter a number` isn't centered because it's smaller (size 30) than the input text (size 50), which is centered. Not sure how to customize the hint text centering.

The alternative is to make the hint text size 50 as w

[2017-11-16 21:50] #8 closed

[2017-11-16 21:50] #9 closed

[2017-11-16 21:51] maryx commented on #5
Closed via #26

[2017-11-16 21:51] #5 closed

[2017-11-16 21:51] maryx commented on #15
Closed via #23

[2017-11-16 21:51] #15 closed

[2017-11-16 22:18] maryx commented on #4
Duplicate; closing.

[2017-11-16 22:18] #4 closed

[2017-11-22 20:57] maryx opened #30 "Unit Converter: add error UI"
Currently we just fail silently

[2017-11-23 00:19] maryx opened #31 "Verify all the units are converting correctly"
Currently the bitcoin ratio is wrong

[2017-11-28 21:13] #16 closed

[2017-12-05 21:15] maryx opened #32 "Todo app: Move classes into their own files"

[2017-12-06 00:14] maryx opened #33 "Todo app: add documentation"

[2017-12-06 00:15] maryx opened #34 "Todo app: Add login to Google"

[2017-12-21 18:01] maryx opened #35 "Update Todo List Item"
E.g. Add checkboxes to Todo app - see Mocks

[2017-12-28 22:51] maryx commented on #24
Not needed anymore.

[2017-12-28 22:51] #24 closed

[2018-01-03 00:05] #30 closed

[2018-01-05 23:39] maryx opened #38 "Add proper licensing to everything"
- PATENTS and BSD
 - Font licenses
 - Icon/image licenses
 - Credits for everything

[2018-01-09 22:40] #32 closed

[2018-01-27 23:55] #6 closed

[2018-01-29 05:23] maryx commented on #38
Also, is copyright supposed to be 2017 or 2018?

[2018-02-01 00:39] #11 closed

[2018-02-04 02:10] maryx opened #44 "Clean up READMEs for each course Task"

[2018-02-04 07:29] maryx opened #48 "Alphabetize imports and constructors"

[2018-02-05 18:07] maryx opened #49 "Make consistent icon sizes"

[2018-02-08 01:55] maryx opened #50 "Delete static unit converter"

[2018-02-12 20:25] maryx opened #56 "Port up UX changes for lesson 5"

[2018-02-15 23:17] maryx opened #59 "Remove Key from all the classes. We don't use them."

[2018-02-16 23:38] maryx opened #60 "Can we wrap the Category Row widget inside of the inkwell, instead of putting it in a stack?"

[2018-02-20 18:34] maryx opened #63 "Add documentation to code"
- Dart-specific style
- iterators
- fixed vs named parameters
- coercion
- how Lists are typed

[2018-02-20 22:46] maryx opened #64 "Remove light grey background on category widget"

[2018-02-27 03:55] maryx opened #66 "Pressing the conversion arrows switches the units around"
A "nice to have".

[2018-03-08 00:43] #60 closed

[2018-03-08 00:43] #59 closed

[2018-03-09 22:13] #50 closed

[2018-03-09 22:13] maryx commented on #49
Done

[2018-03-09 22:13] #49 closed

[2018-03-12 18:59] jonahwilliams opened #72 "Remove references to createHttpClient from udacity course"
`createHttpClient` from `package:flutter/services.dart` is currently marked as deprecated, and will be either removed or greatly changed as part of https://github.com/flutter/flutter/issues/13456. Any references to this should be updated to either use the dart:io HttpClient or an explicit import of `package:http`.

This is only used in [unit_converter](https://github.com/flutter/udacity-course/blo

[2018-03-14 23:44] #72 closed

[2018-03-19 21:12] maryx opened #82 "Split Category into Category data object and CategoryTile widget"

[2018-03-20 00:03] maryx commented on #82
Done in #80

[2018-03-20 00:03] #82 closed

[2018-03-21 15:48] Nicholaistp opened #83 "Can't find the course."
Is this course still in development or a section of another course because I can't find it on Udacity.

[2018-03-23 21:41] mjohnsullivan opened #84 "TextField focus not working on Android"
When tapping on the input TextField in any unit converter, the TextField cannot hold onto focus and entering input is impossible. Works on iOS

[2018-03-25 03:19] Kartik1607 commented on #83
Most probably will be available in future.

[2018-03-26 22:41] maryx commented on #84
Resolved in #85

[2018-03-26 22:41] #84 closed

[2018-03-26 22:42] maryx commented on #83
It's still in progress! :) I'll update this when the course is released.

[2018-03-26 22:43] maryx commented on #64
Resolved with UX changes.

[2018-03-26 22:43] #64 closed

[2018-03-26 23:26] maryx commented on #10
Done via Backdrop.

[2018-03-26 23:26] #10 closed

[2018-03-26 23:27] maryx commented on #17
Done via Backdrop.

[2018-03-26 23:27] #17 closed

[2018-03-26 23:27] maryx commented on #18
Done via Backdrop, also not relevant for L1 and L2.

[2018-03-26 23:27] #18 closed

[2018-03-26 23:28] maryx commented on #31
Done via a previous PR.

[2018-03-26 23:28] #31 closed

[2018-04-01 21:47] #48 closed

[2018-04-01 21:51] #63 closed

[2018-04-04 21:55] maryx commented on #56
Done via 87-92

[2018-04-04 21:55] #56 closed

[2018-04-05 18:31] ZaynJarvis opened #96 "new prefix"
Hi! I discover that there is no new prefix and const for color, which leads to some errors in my version of flutter.
Which version of flutter or dart should I use to get rid of new?

and just hope that u will have a firebase sample code, the sample code I get from elsewhere were already out of date...

Thank you!!!! for helping!!! I just start fluttering recently..

[2018-04-09 21:52] #38 closed

[2018-04-10 16:30] lakexyde commented on #20
Try this: https://github.com/lakexyde/flutter_localstorage
Hope you find it helpful

[2018-04-26 17:37] maryx commented on #96
With the newest Flutter SDK (anything higher than 0.3.x, which you can install from .zip here: https://flutter.io/get-started/install/), you should be able to now build the course code in Dart 2.0, without the `new` and `const`.
Remember to run a `flutter upgrade` and update dependencies in your IDE if necessary. The red error messages/underlines may show up initially, but after the first successf

[2018-04-27 21:11] maryx commented on #96
The README for this repo has also been updated.

[2018-04-30 04:29] ZaynJarvis commented on #96
Thank you!

[2018-05-04 15:58] maryx commented on #96
Closing now. Please re-open if you still encounter the same problem. Thanks!

[2018-05-04 15:58] #96 closed

[2018-05-08 20:53] maryx commented on #83
The course, Build native mobile apps with Flutter, is now located at https://www.udacity.com/course/ud905 :)

[2018-05-08 20:53] #83 closed

[2018-05-09 19:13] ram535 opened #109 "Flutter Course, solution_02_category_widget"
In the file **main.dart** the constructor is called with three parameters.
[code]

But in the file **category.dart** the constructor is define as it receives 4 arguments.
[code]

What is this **Key key** variable?

[2018-05-09 21:07] #109 closed

[2018-05-14 14:01] SerggioC opened #112 "Need to add 'new' keyword to every widget"
Can't run example apps because t keeps failing with error "The keyword 'const' or 'new' is required here. Due to an implementation limit, the compiler isn't able to infer 'const' or 'new' here." on every widget...
What's wrong with this?

[2018-05-14 20:42] JonathanSum commented on #112
I think it is not perfect yet. However, it works perfect for me by adding the 'new', when the console asks me to add it.

[2018-05-14 23:43] SerggioC commented on #112
Yes. It kind of works adding the 'new' keyword everywhere. I'll try to update flutter and dart se of it solves the problem.

[2018-05-15 13:10] komuw commented on #112
looks like; https://github.com/flutter/flutter/issues/15590
and
https://github.com/dart-lang/sdk/issues/32737

[2018-05-15 16:59] maryx commented on #112
What version of Flutter and Android Studio are you using?
`new` and `consts` are not required with Flutter Beta 3.x (such as from [here](https://flutter.io/setup-macos/)), and Android Studio 3.1.x, and the Flutter 24 plugin in Android Studio.

[2018-05-16 22:43] neiljaywarner opened #113 "forums"
I know this isn't the code, but is there supposed to be a udacity forum?
Thanks

[2018-05-17 03:18] Simpler1 commented on #112
If using Visual Studio Code, make sure that the following is **NOT** set (under File, Preferences, Settings):

`"dart.previewDart2": false`

[2018-05-17 13:54] Simpler1 opened #116 "[dart] The named parameter 'name' isn't defined."
Why does vscode have to be restarted in order to avoid the following three problems:

[code]
Error displayed:
![image](https://user-images.githubusercontent.com/5922273/40181843-0d37cc2a-59b8-11e8-824b-bafc04de1970.png)

From the starting point of `task_02_category_widget`, I only made the following two changes:
lib\main.dart:
![image](https://user-images.githubusercontent.com/5922273/40181775-e8f

[2018-05-17 17:41] maryx commented on #113
We're looking into this and will update you soon! Thanks for noticing!

[2018-05-18 02:40] Simpler1 commented on #116
This problem only occurred on my two Windows machines (Window 10).  My Linux Mint machine did not have this problem.

[2018-05-18 02:50] Simpler1 commented on #116
And why does Windows create the following three files when I run the app on Android (while Linux does not create these)?

[code]
Are these two issues related?

[2018-05-18 16:59] maryx commented on #116
I've noticed this issue with VSCode a few times before in a different codebase, where restarting resolves the analysis issues (though I'm on Linux when this happens). I'm not exactly sure what's causing it - @mjohnsullivan or @devoncarew any ideas?

[2018-05-18 20:20] maryx commented on #113
The forum is located at https://discussions.udacity.com/c/standalone-courses/native-mobile-apps-flutter. Hope that helps!

[2018-05-18 21:25] gaurav1999 opened #117 "The Constructor of Cateogry , As per dart documentation it is not understandable."
Hello Everyone,
I am new to flutter , I was going through the code and I find the const Category() constructor not understandable ,
First , what is the role of key in this ?
Second , why did we used curly braces inside the constructor ,
Third , how assert works here ?

Please give more comments on this part.

[2018-05-18 21:28] Sfshaza commented on #117
Hi @gaurav1999, can you give us a link to the page in question?  Thx

[2018-05-18 21:29] Sfshaza commented on #117
Wait, I see it's the Udacity course. Can you tell us where it is in the video?  Thanks.

[2018-05-18 21:29] Sfshaza commented on #117
(Closed by accident.)

[2018-05-18 21:47] maryx commented on #117
@Sfshaza This is likely referring to https://github.com/flutter/udacity-course/blob/master/course/02_category_widget/solution_02_category_widget/lib/category.dart, whose final state is https://github.com/flutter/udacity-course/blob/master/unit_converter/unit_converter/lib/category.dart in the completed app.

@gaurav1999 Please verify!

 1) You can read about keys at https://flutter.io/widgets-intr

[2018-05-19 10:26] gaurav1999 commented on #117
Yes It's from category.dart

[2018-05-19 10:29] gaurav1999 commented on #117
@Sfshaza , thanks a lot for your reply , I understand the concept clearly because of it. But it would be really helpful of you can please elaborate the synatx of the const Category ()  constructor used here , and also if you can provide alternative solution for it ?
Thanks & Regards
Gaurav Agrawal

[2018-05-20 02:57] neiljaywarner commented on #117
@maryx can you please edit your comment above just in case?
this mentions curly braces but there aren't any curly braces.  I was also confused by the curly braces, coming from Kotlin...
maybe even discussion in video, or at least some code comments, yes, would be nice
--
The curly braces let you define the name for the input parameters. When you instantiate a Category, you can say var category = C

[2018-05-20 02:57] neiljaywarner commented on #113
thanks

[2018-05-20 02:59] neiljaywarner commented on #113
actually, the link is giving a 502.
I know that's not on you, it's on udacity, but it is awkward timing.

[2018-05-21 04:32] neiljaywarner commented on #113
@maryx  this link still gives the below
{
	"status": 502,
	"error": {
		"message": "[{Message:no \"data\" or \"errors\" in response from origin}]"
	}
}

[2018-05-21 16:19] jsoncylu commented on #116
This is happening to me on Android studio for macOS too, any idea why?

[2018-05-21 17:14] maryx commented on #113
Hm, what happens if you navigate from the link to the forums in "Have questions? Head to the forums for discussion with the Udacity Community."?

Or if you go to https://discussions.udacity.com/ and then click on the `Build Native Apps with Flutter` course? Just verifying that you had been logged in prior to accessing the page.

[2018-05-21 18:02] maryx commented on #117
@gaurav1999 https://www.dartlang.org/guides/language/language-tour#final-and-const has some explanation of why we use const, and this may help too: https://www.dartlang.org/guides/language/language-tour#using-parameterized-types-with-constructors
Once you've instantiated an instance of the Category widget, it is immutable.

I'm not sure what alternative you're be looking for - it depends on what y

[2018-05-22 19:07] krishnatandon1208 commented on #116
This works fine for me - Android Studios on MacOS. Dart file runs fine. I guess VSCode is not supporting dart. Following for the solution.

[2018-05-23 05:02] gaurav1999 opened #119 "Category_route , udacity-course , Is there any way to create List of Icon objects ?"
Hello Everyone .
In the  /course/03_category_route /solution_03_category_route/category_route.dart
We used list of objects which we needed for out listview , for example:-
static const _baseColors = <Color>[
    Colors.teal,
    Colors.orange,
    Colors.pinkAccent,
    Colors.blueAccent,
    Colors.yellow,
    Colors.greenAccent,
    Colors.purpleAccent,
    Colors.red,
  ];

I tried using the sa

[2018-05-23 19:46] maryx commented on #119
Hi @gaurav1999, what have you tried so far? :)

If you think the question is generic enough for [StackOverflow](https://stackoverflow.com/search?q=flutter), you can also consider posting on there with the #flutter tag (also with your code attempts).

[2018-05-23 19:47] maryx commented on #113
@neiljaywarner were you able to resolve this issue?

[2018-05-23 20:07] neiljaywarner commented on #113
Yes, thank you, sorry about the delay.

It is kinda not cool that you get that error instead of a "please login page" but anyway, if i'm logged in then it's all good with the links (both)

[2018-05-23 20:07] #113 closed

[2018-05-23 20:15] maryx commented on #113
Thanks for filing this. I've filed an issue with Udacity; hopefully this will be a better experience in the future!

[2018-05-24 05:46] gaurav1999 commented on #119
I tried it , @maryx ,
I used:-
static const _iconlist = [
Icons.cake,
Icons.ac_unit,
//More code
];

Also Sir , now I understand , I will post questions on stackoverflow from now on , I was posting them here because this is the course repository and I thought this would be more relevant here.

Thanks.

[2018-05-24 18:14] maryx commented on #117
If you're happy with the response feel free to close this issue or let me know and I can close it.

[2018-05-24 18:20] maryx commented on #119
You can definitely post questions here, but if you think your question is a generic Flutter question, rather than a bug in the course code, you may get faster responses on StackOverflow.

What error/logs did you get with that code? I tried what you had and it seems to be working fine. Does your Icon widget code look like this: `Icon(_iconlist[0])` ?

[2018-05-25 02:01] #117 closed

[2018-05-25 02:05] gaurav1999 commented on #119
No It doesn't look like that , I shared the example of what I did , I use VS code with flutter extension and it said that what I was doing is wrong , I mean it gave error lines around my code. Currently I don't have any logs/error . Sorry

[2018-05-25 17:15] maryx commented on #119
What happens when you try building (green play button) onto a device or emulator? Usually, there will be some errors in the console in the app fails to build. That can help you debug.
Also, if you hover over the red lines, an error message usually pops up saying why it is red.
It's possible that when you first write the code, it appears to have red lines, but once you build it, it cleans up.

You

[2018-05-27 06:37] gaurav1999 commented on #119
Yes I tried It again and this worked , maybe there were some issues in the plugin itself.
I ignored those red lines and build it.
Thank you.

[2018-05-27 06:37] #119 closed

[2018-06-04 08:07] 17twenty opened #120 "[Quiz 2x9] Bottom Overflowed by pixel"
Got an erroneous output when building the input/output widget stuff

![image](https://user-images.githubusercontent.com/379176/40905650-f450dfc6-6821-11e8-832b-9689a3885778.png)

[code]

Tried with solution code and got the same error?

[2018-06-04 08:12] 17twenty commented on #120
After a reset of the device and CTRL-C/`flutter run` it looks like the keyboard no longer shows in the simulator so ... uh, it seems fixed by omission?

[2018-06-07 21:02] maryx commented on #120
Is the keyboard behaving as expected? When you say the keyboard `no longer shows`, do you mean at all/in general, or only when you don't want it to show? Feel free to close this issue if you think it's been resolved.

[2018-06-07 21:41] 17twenty commented on #120
Looks like the keyboard was being weird in the simulator.
The overflowed draws are present in later exercises and it mentions:

But it never does get addressed so maybe that's something to redo in the tutorial vids?

Closing for now tho

[2018-06-07 21:41] #120 closed

[2018-06-07 21:43] maryx commented on #120
Oh right! In one of the later exercises (Lesson 2, Responsive Design) you'll work on cleaning up the yellow and black stripes.

[2018-06-23 14:25] omarsawalhah opened #122 "Padding Error"
I tried to run the code in this repo from the solutions folder for task 02 "solution_02_category_widget", when opening the file in VS Code the following error appears in the "PROBLEMS" terminal tab.

[dart] 1 required argument(s) expected, but 0 found.

And if I run the main.dart I am getting the following error.

flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞══════════════════════════════════

[2018-06-27 01:45] maryx commented on #122
Hi @omarsawalhah! Does VS Code happen to say in which file and line the error is happening? Is there a red squiggly underline in any of the files?

[2018-06-27 12:34] omarsawalhah commented on #122
Yes,
I had to remove flutter and dart plugins and reinstall it again, the problem resolved.

Regards,

[2018-06-27 15:56] maryx commented on #122
Sometimes that happens! I'll close this issue for now. Feel free to re-open or file another if an error persists.

[2018-06-27 15:56] #122 closed

[2018-06-28 07:50] RajesMca008 commented on #120
I am also facing the same issue, I after adding "resizeToAvoidBottomPadding: false,"  this issue is fixed.

[2018-07-02 21:37] Hixie opened #125 "Should we close this issues database?"
cc @maryx @mjohnsullivan

Do you want to keep this repository's issues database around? Generally we put things in the main flutter/flutter issues list. Either way is fine, I'm just checking on what your desires are.

[2018-07-02 21:50] mjohnsullivan commented on #125
We should probably clear out the old/deprecated issues; I'd suggest we keep it open for the moment to catch any lingering edge cases and review closing it down in a couple of months?

[2018-07-02 21:58] maryx commented on #125
@Hixie - would you be ok with course-specific issues (e.g. "In exercise 5, when I build, this error pops up...") being posted to flutter/flutter?

I'm not picky either way - I can clean out the existing TODO app issues (we can re-add them if we add more content to the course later) in the meantime.

[2018-07-02 23:20] maryx commented on #35
Closing - obsolete.

[2018-07-02 23:20] #35 closed

[2018-07-02 23:20] maryx commented on #34
Closing - obsolete.

[2018-07-02 23:20] #34 closed

[2018-07-02 23:20] maryx commented on #66
Closing - obsolete.

[2018-07-02 23:20] #66 closed

[2018-07-02 23:20] maryx commented on #33
Closing - obsolete.

[2018-07-02 23:20] #33 closed

[2018-07-02 23:20] maryx commented on #22
Closing - obsolete.

[2018-07-02 23:20] #22 closed

[2018-07-02 23:20] maryx commented on #21
Closing - obsolete.

[2018-07-02 23:20] #21 closed

[2018-07-02 23:20] maryx commented on #20
Closing - obsolete.

[2018-07-02 23:20] #20 closed

[2018-07-02 23:22] maryx commented on #112
I'm going to close this issue as Dart 2.0 should allow for optional `new`. If you have trouble, please try updating your setup (see flutter.io/setup for more detail and recommendations). Feel free to open a new issue if there is something else that isn't working!

[2018-07-02 23:22] #112 closed

[2018-07-03 00:33] Hixie commented on #125
Yeah, no problem with course-specific issues in flutter/flutter, they're going to end up there anyway.

[2018-07-03 00:39] maryx commented on #125
I don't mind closing this repo's issues - @mjohnsullivan when do you think would be the best time to do that? Right now or in a few weeks/months? I defer this to you.

[2018-07-03 14:17] vaibhav376 opened #126 "On network resume, remove the error box."
Current final version of app does not remove the error box from converter screen even after network is connected.

[2018-07-10 20:03] sodiqOladeni opened #128 "App not running on Android Studio 3.2 beta02"
I just started following the tutorial on Udacity and have not been able to run the first app on my physical device, check below logcat output

compiler message: lib/main.dart:31:18: Error: The keyword 'const' or 'new' is required here. Due to an implementation limit, the compiler isn't able to infer 'const' or 'new' here.
compiler message:           child: Text(
compiler message:

[2018-07-11 06:48] #128 closed

[2018-07-11 18:35] MishraUdit opened #129 "List UI"
I was solving the lesson:1, section 15, in which we have to write code for our listView and it's items. Everything is done as explained except the UI. The UI explained in the course is different from my debugged UI. However, in early compiles, it was fine, after a few hot reloads now it is not showing the scrolling effects. As highlighted, I do not want this:

![_20180711_234019_li 2](https://user

[2018-07-12 00:54] maryx commented on #126
Yep, we didn't account for all the error handling/resolution UI for this app. Feel free to make a PR that would do this, but we figured it may be a bit complex to add.

[2018-07-12 00:58] maryx commented on #129
Could you please paste in your code?

To clarify, do you want the highlighting inkwell animation done via the onTap, or not?

[2018-07-12 06:14] MishraUdit commented on #129
No, I don't want this...
Moreover, the AppBar has text as center alignment, but in the result it  is not...
Here is my code for its design:
[code]
here is the code for AppBar:
[code]

[2018-07-27 00:38] maryx commented on #129
Hi @MishraUdit, if this helped you, please close the issue. Otherwise let me know how we can help.

[2018-07-27 00:39] maryx commented on #126
I am going to close this issue as we are not planning to add more error handling to the app at the moment.

[2018-07-27 00:39] #126 closed

[2018-07-31 18:59] #129 closed

[2018-08-06 01:14] lucashnrique opened #131 "Your project file contains non-ASCII characters."
I try to open the project  task_02_category_widget and this error appears:

Your project file contains non-ASCII characters.

![image](https://user-images.githubusercontent.com/42098904/43692281-db23c962-98fc-11e8-98eb-c23252e1e424.png)

How can i fix this?

[2018-08-10 17:03] maryx commented on #131
Hi @lucashnrique! Are you able to create/open other Flutter projects?
What about importing the project instead of opening the project (or vice versa)?

[2018-08-10 22:04] lucashnrique commented on #131
Thanks, I had not thought of simply opening instead of importing

[2018-08-10 22:04] #131 closed

[2018-08-26 07:01] SimonPeter1909 opened #133 "The Function 'MaterialApp' isn't defined."
![capture](https://user-images.githubusercontent.com/24413796/44630250-0cc1d780-a978-11e8-8334-5aa660c94bf6.JPG)
Hi guys, I have started to learn flutter from a course at udacity.com.
They have asked to copy the code and paste it into the main.dart file.
I have done that and I got this Error `The Function 'MaterialApp' isn't defined.`
I googled that error but it seems to be so hard to find the ans

[2018-08-26 17:30] #133 closed

[2018-09-09 11:30] SavinovJr opened #134 "Can't test solution for task 09"
Hi,

I can't test solution for task 09. Got the error:

`Syncing files to device iPhone X...
[VERBOSE-2:shell.cc(181)] Dart Error: Unhandled exception:
'file:///Users/antonsavinov/Documents/My%20Documents/TestProjects/flutterUdacity/task_09_real_units/lib/unit.dart': error: line 25 pos 16: lib/unit.dart:25:16: Error: Can't access 'this' in a field initializer to read 'name'.
        assert(name !=

[2018-09-14 17:49] maryx commented on #134
Hi @SavinovJr,
What happens when you try running this on an Android device/emulator? I just tried it on both an Android and iPhone X (Simulator) without issues.
What version of Flutter do you have? Maybe it's out of date. What does `flutter doctor` output?

[2018-09-15 05:45] SavinovJr commented on #134
Hi @maryx , `flutter doctor` output is the next

[code]

[2018-09-21 02:03] maryx commented on #134
Hi @SavinovJr,
It seems like we have to now put asserts before assignments, with the latest updates to Dart.
(See https://github.com/dart-lang/sdk/issues/30968)
Can you try changing the code to:
[code]
I'm going to test this out a bit later, but you can try it first!

[2018-09-21 10:41] chalin commented on #134
I don't think so. I see no such constraint in the [language spec](https://github.com/dart-lang/sdk/blob/master/docs/language/dartLangSpec.tex), but I'll let @eernstg or @munificent confirm. (I just checked against Dart 2.1.0-dev.5.0 (VM), and asserts after assignments are ok.)

---

The source of the **problem** reported here seems to be the **attempted read of a field from within the initializer

[2018-09-21 11:13] horgag1 commented on #134
Was having the problem as @SavinovJr. Putting the assets before the assignment works for me. All good!

[2018-09-21 16:55] maryx commented on #134
@chalin thank you for clarifying the problem! I didn't fully understand the source of the issue. It does seem like a recent update.

[2018-09-21 20:37] SavinovJr commented on #134
@maryx Hi. I've just checked this code. This approach works. Does it make sense update the course with this fix or should there be anything else?

[2018-09-24 17:58] maryx commented on #134
Yep the course code needs to be updated. You can make a Pull Request against this repo's master branch (for each project in the courses directory, and the main app). Alternatively I can make one sometime later this week and add you as a reviewer.

[2018-09-24 23:05] SavinovJr commented on #134
@maryx Hi. Can't make a Pull Request. Got the error:

`Pushing to https://github.com/flutter/udacity-course.git
remote: Permission to flutter/udacity-course.git denied to SavinovJr.
fatal: unable to access 'https://github.com/flutter/udacity-course.git/': The requested URL returned error: 403`

[2018-09-25 20:09] maryx commented on #134
You should push to a branch in your own local fork of this repo, and then, from https://github.com/flutter/udacity-course/compare, choose to compare against forks, and select your branch, to make a pull request against this project.

[2018-09-26 17:20] maryx commented on #134
LGTM! Thanks for your contribution!

[2018-10-23 11:08] alexmeseguer opened #137 "Error in dependences"
I have an error when I run an Android Devices, but it's working correctly with iOS Devices.

I just to start my app without modifies.

This error:

Launching lib/main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
* Error running Gradle:
Exit code 1 from: /Users/alejandromeseguersilvestre/Desktop/Alumbrado/alumbrado_flutter/alumbrado_flutter_app

[2018-10-24 13:45] heatonandy opened #138 "Task 2 Icon Centering Vertically"
I really enjoyed the exercise for building out the category_widget in task 2.

However, one part was frustrating. I spent a good amount of time trying to figure out why my icon wasn't centering vertically in the row (don't regret the churn, I recognize it is an important part of learning).   When I went to the solution code, the final result looked exactly like mine and I was pretty bummed.

Just

[2018-10-27 20:31] Guilherme1886 commented on #133
same error here!

[2018-10-28 15:29] SimonPeter1909 commented on #133
Just go to tools-> flutter -> update flutter... It solved the problem...

On Sun, 28 Oct 2018, 02:01 Guilherme Antônio, <notifications@github.com>
wrote:

[2018-10-28 15:45] Guilherme1886 commented on #133
Great. I insert new in code and solved the problem. Thanks!

[2018-10-29 23:07] maryx commented on #138
Hi @heatonandy! Thanks for the feedback, and understand your sentiments. If you've figured out a way to center the icons, feel free to make a pull request. Otherwise I'll take a look at some point but I can't give a concrete timeline.

[2018-10-29 23:09] maryx commented on #137
Can you try a `flutter clean` and remove your `build/` directory?
You can also try deleting and reinstalling all files related to gradle.
If it's a Gradle issue, sometimes re-installing Android Studio helps, though I know you'd prefer not to do that.

[2018-10-30 12:15] alexmeseguer commented on #137
I have tried this, but it always shows the same error.

I have created a new Flutter Project and the error is the same.

[2018-10-30 12:33] alexmeseguer commented on #137
In addition, I've tried create a new app from console but the error is the same:

C:\Users\ameseguer\Desktop>flutter create nueva_flutter_app
Creating project nueva_flutter_app...
  nueva_flutter_app\.gitignore (created)
  nueva_flutter_app\.idea\libraries\Dart_SDK.xml (created)
  nueva_flutter_app\.idea\libraries\Flutter_for_Android.xml (created)
  nueva_flutter_app\.idea\modules.xml (created)

[2018-10-30 16:42] maryx commented on #137
Your `flutter doctor` says:
[code]
You should update that, so that `flutter doctor` outputs check boxes for all of the items. You can search online to see how to do it, and maybe https://github.com/flutter/flutter/issues/16280 can help?

If it still doesn't work after that, you may want to try searching up your Gradle error.

[2018-10-31 09:04] alexmeseguer commented on #137
The "Android toolchain" error is already corrected:

`Microsoft Windows [Versión 10.0.17134.345]
(c) 2018 Microsoft Corporation. Todos los derechos reservados.

C:\Users\ameseguer\Desktop\flutter_apm>flutter doctor -v
[√] Flutter (Channel beta, v0.9.4, on Microsoft Windows [VersiÃ³n 10.0.17134.345], locale es-ES)
    • Flutter version 0.9.4 at C:\Apps\Flutter
    • Framework revision f37c235c32 (5

[2018-10-31 16:42] maryx commented on #137
Is this happening for other Flutter projects? E.g. when you create a new project, or open another project? If so, please file a bug at https://github.com/flutter/flutter/issues. You can link this one there.

If it works for other projects, try re-downloading and re-building a fresh project from scratch.

Also, you could try deleting Android Studio entirely (including all settings files) and downlo

[2018-11-02 21:16] ankit007im opened #139 "Problem in running flutter App"
* Error running Gradle:
Exit code 1 from: D:\projectFlutter\hello_rectangle\android\gradlew.bat app:properties:
Project evaluation failed including an error in afterEvaluate {}. Run with --stacktrace for details of the afterEvaluate {} error.

FAILURE: Build failed with an exception.

* Where:
Build file 'D:\projectFlutter\hello_rectangle\android\app\build.gradle' line: 25

* What went wrong:
A pr

[2018-11-03 06:05] htasha commented on #137
same here

[2018-11-06 21:55] maryx commented on #139
This might be a duplicate of https://github.com/flutter/udacity-course/issues/137 and related to https://github.com/flutter/flutter/issues/23996.

[2018-11-06 21:56] maryx commented on #137
This might be related to https://github.com/flutter/flutter/issues/23996.

[2018-11-07 02:46] iRuth commented on #137
I had the same problem. You need to ensure that your flutter SDK is the latest from https://github.com/flutter/flutter. To fix the issue, from the terminal, go to the folder that has flutter SDK on your computer and run `git pull`.

[2018-11-09 11:06] Geekiter opened #140 "A problem about border radius"
I creat a inkwell , I want  border radius is round a little when I press it , but it is still square.
`

          child: new Container(
            height: 100.0,
            padding: EdgeInsets.all(8.0),
            decoration: new BoxDecoration(
              borderRadius: new BorderRadius.circular((50.0)),
            ),
            child: new InkWell(
            child: new Row(

[2018-11-09 11:13] Geekiter commented on #140
I see. InkWell have borderRadius too : )

[2018-11-09 18:43] maryx commented on #137
Also see https://github.com/flutter/flutter/issues/23404, it might help.
@alexmeseguer let us know!
If resolved, feel free to close the issue.

[2018-11-09 18:44] maryx commented on #139
Also see flutter/flutter#23404; it might help.
@ankit007im let us know!
If resolved, feel free to close the issue.

[2018-11-09 18:45] maryx commented on #140
Seems like you've resolved it! I will go ahead and close this issue. Feel free to reopen or open a new issue.

[2018-11-09 18:45] #140 closed

[2018-11-10 18:11] #139 closed

[2018-11-24 15:55] LouayNasr commented on #137
the SDKversion and build tools version in the build.gradle located inside the **android/app folder**  are 26 and 26.0.3
but you may have another version install in sdkmanager.
so....
you may want to change a few things in the build.gradle file to match your version of android sdk and build tools :
1. compileSdkVersion 26 (change 26 to match your SDKversion)
2. buildToolsVersion '26.0.3'
3. targetS

[2018-11-26 08:55] akashmehta opened #143 "Facing issue in task_05 for Unit converter."
If we enter more than 15 characters in TextField and we clear it by long press backspace, Some characters at the end enters from outside of TextField.

![vlcsnap-2018-11-26-14h25m08s010](https://user-images.githubusercontent.com/7825640/49003041-23e6b000-f187-11e8-9005-85989baeca64.png)
![vlcsnap-2018-11-26-14h24m54s014](https://user-images.githubusercontent.com/7825640/49003050-28ab6400-f187-11e8

[2018-11-27 05:59] akashmehta commented on #143
This issue resolved in latest flutter version.

[2018-11-27 05:59] #143 closed

[2018-12-10 10:34] labermt opened #146 "Instructions unclear and possibly wrong"
Instructions state: "Choose the unit_converter project folder, located in this repo at /unit_converter/unit_converter. Select Next for all setup instructions, making sure that the Source Files screen shows Flutter as an option."

However, I never see a "Source Files" screen when installing. Ignoring this, the project doesn't build using Linux.

Launching lib/main.dart on Android SDK built for x86

[2018-12-10 17:31] labermt opened #147 "No TODO's"
Instructions say, "Fill out the TODOs in category.dart and main.dart using the specs below.", however there are no TODO's in the main.dart and category.dart as described in the instructions.

[2018-12-12 01:47] xscs709560271 opened #148 "About dart"
in the cource "03_category_route",the example code is great.but i have few question about how it uesed to do.
like this code clip:
[code]
at first,i was wondered "@required" is a part of grammars,then i find the doc in this [site](https://pub.dartlang.org/documentation/meta/latest/meta/meta-library.html).
i just hope when use the core package section can be subscribed more clearly.thanks.

[2018-12-12 13:50] dytra opened #149 "Outdated Dependencies"
I've just watch the **Build Native Mobile Apps with Flutter** by Udacity and download the sample flutter project
When I ran the command

[code]

It shows some error

[code]

It seems like the dev haven't updated the dependencies in the `pubspec.yaml`. Please fix it, I wanna do  this project to learn fluter more

[2018-12-13 23:04] maryx commented on #149
For the moment, delete the todo project (it's not used in the course). I'll update the code at some point (kinda swamped at the moment). Or feel free to make a PR to resolve the issue :)

[2018-12-13 23:11] maryx commented on #147
Which step are you on?

[2018-12-16 14:04] Santos-S opened #150 "InkWell cannot work if container is scoped between Material and Inkwell"
As per the documentation, the inkwell widget needs to be exactly parent to the Material widget as the inkwell paints the animations in Material's raw code. But as a workaround when container is needed for sure, the InkWell can have a parent second Material Widget just above it to work.
But in this example, there is a Container in between Material and Inkwell and to its animations will be opaque. A

[2018-12-21 22:37] maryx commented on #149
@dytra what directory/file path are you running `flutter packages get`?
I tried running it in `udacity-course/course/01_hello_rectangle/solution_01_hello_rectangle` and `udacity-course/unit-converter/unit-converter` with no issues. I got the same issue as you when running it in `udacity-course/todo`, but the course doesn't use the `todo` app currently.

[2018-12-26 16:31] maryx commented on #147
Thanks for your patience!

You'll want to look at the TODOs in the files https://github.com/flutter/udacity-course/blob/master/course/02_category_widget/task_02_category_widget/lib/category.dart and https://github.com/flutter/udacity-course/blob/master/course/02_category_widget/task_02_category_widget/lib/main.dart.

The task and solution are https://github.com/flutter/udacity-course/tree/master/c

[2018-12-26 16:33] maryx commented on #148
Thanks for your feedback! Feel free to make a pull request if there's a specific explanation you'd like to add to the code comments. Otherwise we can add more commentary to it soon-ish.

[2018-12-26 16:34] maryx commented on #149
We've deleted the todo list code - @dytra please let us know if you're still running into this issue!

[2018-12-26 17:20] maryx commented on #150
The [InkWell documentation](https://docs.flutter.io/flutter/material/InkWell-class.html) says that `The InkWell widget must have a Material widget as an ancestor.`.  This means that any of its parents (ancestors) can be an Material, not solely the immediate parent.

You also note `If there is an opaque graphic, e.g. painted using a Container, Image, or DecoratedBox, between the Material widget and

[2018-12-30 03:30] dytra commented on #149
Oh I thought it used in the course
Perhaps I'm in the wrong address
Thanks for responding anyway
Cheers :wine_glass:

[2018-12-30 03:30] #149 closed

[2019-01-03 16:44] XiminLin opened #154 "Why should we make CategoryRoute stateful?"
Because the only state change in CategoryRoute is initState, which can also be done in the build() method.

Also, is it good to make stateful widgets as few as possible? I once saw a video saying that making Stateful Widget only if necessary is a good practice.

Thanks in advance.

[2019-01-16 14:05] kerolossliman opened #155 "the converter route screen isn`t enough and bottom flowover"

[2019-01-18 18:58] maryx commented on #155
Hi @kerolossliman, which coding exercise is this happening in? In the earlier ones, this definitely happens, but later in the responsive design exercise we resolve this overflow issue.

[2019-01-18 19:06] maryx commented on #154
Hi @XiminLin! Which coding exercise are you currently in? Later on we keep track of more state in this widget (you can see the final version here https://github.com/flutter/udacity-course/blob/master/unit_converter/unit_converter/lib/category_route.dart).

Note that initState() is only called once, while build() is called each time state changes/the UI rebuilds. So sometimes you may only want to c

[2019-01-18 19:36] XiminLin commented on #154
Thank you. I see now.

[2019-01-18 19:36] #154 closed

[2019-01-29 21:06] aleksoft1 commented on #137
I fix this issue in _task_02_category_widget/android/build.gradle_ update 'com.android.tools.build:gradle:3.0.1' to 'com.android.tools.build:gradle:3.2.1':
`buildscript {
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.2.1'
    }
}

allprojects {
    repositories {
        google()
        jcenter()
    }
}

rootPr

[2019-02-17 21:57] maryx commented on #137
This should be resolved with #158. If it is, please feel free to close this issue.

[2019-02-25 03:45] maryx commented on #147
Closing due to no response.

[2019-02-25 03:45] #147 closed

[2019-03-01 17:51] maryx commented on #146
Were you able to get this working? If not, please let us know the answer the above^.
I'll close this issue if there isn't a response in the next week or so, after which point feel free to reopen or open a new issue. Thanks!

[2019-03-04 12:35] haikajymada commented on #134
This is the solution.
The current "unit.dart" file doesn't definitely work with Flutter 1.x
The version in the repository has to be updated quickly

[2019-03-04 17:13] maryx commented on #134
@haikajymada What error are you getting currently?
In which coding exercise(s) are you getting the error?

[2019-03-05 07:19] haikajymada commented on #134
in unit_converter/unit_converter, more exactly unit.dart file

[2019-03-05 16:57] maryx commented on #134
Can you please:

- paste the logs from your error?

- do a `git log` to see what the most recent version of the code is?

- paste the output of `flutter doctor -v`

Thanks!

[2019-04-09 22:12] Hixie commented on #125
cc @mjohnsullivan any updates?

[2019-04-30 01:02] ReddMonkey2018 opened #162 "Opening unit_converter for the quizz"
I can't load up the unit converter. I used the git download code in flutter console and it downloaded fine. I try to import it and it does not seem to find out it's a flutter app. If I just open it, it's full of errors... What am I doing wrong?

[2019-05-01 20:19] drtoio commented on #162
Same. When i want to import Task02, it just open it as dart, not as a flutter project, so i can't use it.

[2019-05-03 17:16] maryx commented on #162
Hi @ReddMonkey2018 and @drtoio, can you verify that you're importing using Android Studio, and that you have the Flutter plugin installed?
Please also add the output of running `flutter doctor`.

Here's what should happen:
When you go to New->Import Project..., you should be taken to a screen like this:

<img width="916" alt="Screen Shot 2019-05-03 at 10 14 04 AM" src="https://user-images.githubus

[2019-05-03 17:23] ReddMonkey2018 commented on #162
Yeah I don't have the last screen coming up...

[2019-05-03 17:25] maryx commented on #162
What's the output of `flutter doctor`?
What if you try opening a project rather than importing it?

[2019-05-03 17:28] #146 closed

[2019-05-03 17:30] ReddMonkey2018 commented on #162
I get error messages if I try to open it.

And flutter doctor does not seem to pick up any error..

I can start a project from scratch and it works fine. Just not importing

On Fri, May 3, 2019, 1:25 PM Mary, <notifications@github.com> wrote:

[2019-05-03 17:33] maryx commented on #162
It would help to post the output of flutter doctor so I can see if I can replicate the issue.

Can you also post the error messages? That would help in debugging the issue too.

Can you go into the project's lib/ directory and do a `flutter run` to see if the project builds and runs from the command line?

[2019-05-16 12:18] matthiassolomon commented on #133
void main() => runApp(HelloRectangle());
then let HelloRectangle extend StatelessWidget. Like this:

class HelloRectangle extends StatelessWidget { .... }

[2019-06-04 06:00] #137 closed

[2019-07-08 16:45] pablolaurin opened #164 "Category name not used in ConverterRoute"
https://github.com/flutter/udacity-course/blob/56d93305409fba4f19905d26792148cbcf67e7d7/course/04_navigation/solution_04_navigation/lib/converter_route.dart#L28

Why is the category name passed to ConverterRoute? Is not used inside this widget.

[2019-07-18 22:22] maryx commented on #164
You are right. It's possibly leftover from one of the past versions of the UX where the name was shown on the screen. Feel free to make a PR to remove it, otherwise I will probably make one in the next week or so.

[2019-07-21 16:52] hardypatel30 commented on #120
@RajesMca008  Agree with his answer! It is the only solution.

[2019-07-29 18:45] #164 closed

[2019-08-14 02:23] shaheennamboori opened #166 "Stuck at initializing forever"
Running this code the flutter is stuck at intializing gradle forever

[2019-08-14 02:25] #166 closed

[2019-10-10 12:46] ParthipanThangaraju opened #167 "Build failed due while add path provider dependency"
Hi, am new to flutter. I m trying to load the pdf inside the application. Before adding the path provider plugin, the project build successfully. After that I could not run anything.  Everytime I having this log in console.

[code]
[code]

[2019-10-10 19:52] jammymalina opened #168 "Code doesn't follow modern Dart standards"
Hi everyone,

Nice job on the course. I was just playing around and I noticed the modern coding standards are not followed, e.g. there are lot of for loops where map would be more suitable. It would be quite nice if you refactored the code in the future to teach the beginners modern coding practices.

[2019-11-01 23:16] maryx commented on #168
Thanks @jammymalina for the feedback!
Everyone - feel free to make PRs for this in the meantime. I'll get to it at some point.

[2019-11-01 23:18] maryx commented on #167
Hi @ParthipanThangaraju, you'll want to try StackOverflow (https://stackoverflow.com/questions/tagged/flutter) or the Flutter repo: https://github.com/flutter/flutter/issues

Closing as this bug is not directly related to the Udacity course.

[2019-11-01 23:18] #167 closed

[2019-12-18 11:18] SaiAvinashP commented on #120
where should i add this line "resizeToAvoidBottomPadding: false"....?

[2019-12-25 09:42] asmaa3107 opened #170 "I couldn't clone courses tasks"
hi
I tried to clone your git
to get all courses tasks but only task for first lesson is downloaded
any help ?

[2020-02-01 17:12] stehgold opened #171 "Imported Project Code does not compile"
Hi,
when I import the project I get a compile error:

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine java version from '11.0.5'.

When I start a new project and just copy and paste the dart files in, it just works fine.

IntelliJ IDEA 2019.3.1 (Community Edition)
Build #IC-193.5662.53, built on December 18, 2019
Runtime version: 11.0.5+10-b520.17 amd64
VM: OpenJDK

[2020-02-04 04:34] Malith97 commented on #133
It happens because your flutter SDK and dark SDK is not working properly. you can solve this issues upgrading your flutter sdk. go to the terminal and type

after that your fluter sdk and dark sdk will be upgrade, after the installation complete you will be fine.

[2020-03-21 18:42] shuchitajain commented on #120
Use this inside the Scaffold.

[2020-06-06 16:02] AneshkaGoyal opened #174 "Landscape mode clicking currency category does not handle the error as it should"
When  changed the URI in api.dart file to something not reachable and then ran the app, in portrait mode it was making the currency category  unclickable as it should have but in landscape mode , the currency category was not  unclickable thus leading to non handling of error.

[2020-07-28 22:53] Humboi commented on #133
![Capture](https://user-images.githubusercontent.com/36899938/88730209-7da63700-d12d-11ea-9f02-bc30c7364b1b.PNG)
Please, I need help

[2020-07-28 22:56] Humboi commented on #133
![Capture1](https://user-images.githubusercontent.com/36899938/88730346-c78f1d00-d12d-11ea-97ce-a6b0336d234c.PNG)

I have tried several time but not working

[2020-07-29 16:56] Malith97 commented on #133
Your Flutter SDK and Dart are not working properly. Please update your dart
sdk by typing *flutter upgrade --force* in your terminal

On Wed, Jul 29, 2020 at 4:26 AM Humboi <notifications@github.com> wrote:

[2020-08-19 11:08] cv692001 commented on #138
Hey , I am very new to the open source contribution can you Please help me out ;)

[2020-08-19 20:14] maryx commented on #170
Hello, what is your current status?

[2020-08-19 20:15] maryx commented on #171
Hello, are you still encountering this issue?

[2020-09-19 06:46] GoooGu opened #176 "Why do we need a GlobalKey in unit_converter.dart?"
I'm new to dart. I've tried to the following

- remove the GlobalKey from the file

- replace GlobalKey with UniqueKey

Both do not work. The keyboard that lets you enter numbers disappears immediately when I click on the textfield. Why is that?

[2021-02-12 19:03] hamedtayeban opened #177 "Bitcoin"
bc1qzeqewjunvnmxqhkj67aurm99795qa05gct5slp

[2021-02-12 19:03] hamedtayeban commented on #177
#117

[2021-02-12 21:07] #177 closed

[2021-02-13 04:54] RonyPixel commented on #116
use flutter clean cache , it might help.

[2021-02-25 00:57] govindpathak4297 opened #178 "Code is full of errors and deprecated libraries and functions"
I try to copy and paste the code but there are a lots of errors .
 Being a beginner in flutter I don't even know how to solve these errors

[2021-02-25 01:48] domesticmouse commented on #178
@RedBrogdon what should we do with this repo?

[2021-03-04 03:09] wlaughto commented on #178
There is a fairly simple solution to the OPs problem. Use the attached pubspec_update.txt file to update all the pubspec.yaml files in the solutions. Hit 'Get pub' or 'Get Dependencies' and most of the problem errors will be resolved. There will probably still be issues with deprecated code etc, but these are ignored, although can be fixed if you want to follow the instructions. I didn't as the ap

[2021-03-07 06:31] domesticmouse commented on #178
As far as I can tell we have two options here. The first option is to archive this project to reflect that it is currently unmaintained. The second option is to update it, and add in CI with daily checks against stable/beta/dev. The downside of the second approach is that this codebase will drift away from the code showcased in the Udacity course.

@wlaughto feel free to raise your changes as a PR

[2021-03-22 13:19] WelingtonAlb commented on #116
este erro ocorreu para mim depois que atualizei o flutter para a versão 2.0.2, onde pede envolver o child com um builder (context)

[2021-04-06 13:19] corelioj commented on #178
I am a begginer too. I´ve made the changes in the pubspec.yaml and still have problems on APP running in the cellphone. I there anything else there I must execute?

[2021-04-18 11:12] G1Joshi opened #179 "Resources are outdated"
Some resources are outdated and some are deprecated.

[2021-04-18 12:07] #178 closed

[2021-05-31 03:46] coolAryan opened #183 "Project should be Migrated to new Android Version"
This flutter project is created using older android version which now needs to be updated.So,Project should now be migrated to newer android version.I would also suggest to Migrate the Project to Null Safety.

[2021-05-31 04:50] #179 closed

[2021-06-22 10:53] matiszz opened #185 "Sample code contains errors"
So I've found several errors on the sample code, which I've been able to fix by myself (mainly `@required` notation which seems to be deprecated). But on **Lesson 7** I haven't been able to find a workaround. People reading this repo are beginners, we don't have the knowledge to fix the **[sample code](https://github.com/flutter/udacity-course/blob/master/course/07_backdrop/solution_07_backdrop/li

[2021-08-31 17:25] TaiserRiad opened #188 "java home"
Hi,

When I start a new project and just copy and paste the dart files in , I get the error
JAVA_HOME is not set and no 'java' command could be found in your PATH.
with exception: Gradle task assembleDebug failed with exit code 1

[2021-09-09 03:25] rattlesnakey opened #189 "IDE"
hello, I wanna know which IDE is recommended? thx!

[2021-09-09 03:35] domesticmouse commented on #189
We have instructions for setting up [Android Studio, IntelliJ IDEA, Visual Studio Code, and Emacs](https://flutter.dev/docs/get-started/editor). I've used all of these, and they are all good. I suggest you try them, and see which one feels best to you.

[2021-09-09 03:35] #189 closed

[2021-09-23 05:33] domesticmouse commented on #188
Closing this out as a Flutter install issue.

[2021-09-23 05:33] #188 closed

[2021-09-23 05:48] domesticmouse commented on #185
I've updated the code in this repository to Flutter 2.5 which involved a bunch of changes, which may or may not have impact to what you are seeing. When I run the updated [solution_07_backdrop](https://github.com/flutter/udacity-course/blob/master/course/07_backdrop/solution_07_backdrop/) code in a web browser, it appears to work as advertised.

However, when I run the Step 12 solution in a web br

[2021-09-23 05:50] domesticmouse commented on #183
All the code in this repository has been updated to Flutter 2.5 with null safety and `flutter_lints` compliance. Thanks!

[2021-09-23 05:50] #183 closed

[2021-09-23 05:52] domesticmouse commented on #174
Closing this out as the mentioned PR has been merged

[2021-09-23 05:52] #174 closed

[2021-09-23 05:52] domesticmouse commented on #170
Closing this issue out as the OP has yet to respond

[2021-09-23 05:52] #170 closed

[2021-09-23 05:54] domesticmouse commented on #168
I've updated the codebase for Flutter 2.5 and `flutter_lints` compliance. As an amusing aside, the `flutter_lints` bundle of lints includes a rule that prefers for loops over maps for ease of readability, so theres that.

[2021-09-23 05:54] #168 closed

[2021-09-23 05:55] domesticmouse commented on #162
Closing out this thread as stale. If y'all are still having issues, please feel free to open a new issue. Thanks!

[2021-09-23 05:55] #162 closed

[2021-09-23 05:55] #155 closed

[2021-09-23 05:56] #148 closed

[2021-09-23 05:58] domesticmouse commented on #138
Hey @cv692001, here's an article on how to [create a Pull Request to a GitHub repo](https://opensource.com/article/19/7/create-pull-request-github). Hope it helps!

[2021-09-23 05:58] #138 closed

[2021-09-23 05:59] domesticmouse commented on #125
@Hixie Apologies for the delay, I'm happy to maintain this issue tracker going forward. I just updated the code to Flutter 2.5 and added CI.

[2021-09-23 05:59] #125 closed

[2021-09-23 06:01] domesticmouse commented on #116
Closing this thread out as stale. If y'all are still having issues, please open a new issue. Thanks!

[2021-09-23 06:01] #116 closed

[2021-09-23 06:21] domesticmouse commented on #176
I'm unsure why this was the case. Attempting to reproduce it with Flutter 2.5 shows that the `GlobalKey` is no longer required, and probably should be removed.

[2021-09-23 20:26] Hixie commented on #125
@domesticmouse Is there a plan for handling the bugs that get filed in flutter/flutter instead?